@media all and (min-width: 1170px) {
    .background {
        height: 100vh;
    }
}

@media all and (min-width: 992px) and (max-width: 1170px) {
    .background {
        height: 70vh;
    }
}

@media all and (max-width: 992px) {
    .background {
        height: 50vh;
    }
}
