.square {
    width: 600px;
    height: 600px;
    background-color: white;
    position: relative;
  }
  .box {
    width: 198px;
    height: 198px;
    position: absolute;
  }
  .radius { 
    border: 1px solid black;
    border-radius: 50%; 
    position: absolute;
    width: 98px;
    height: 98px;
    border: 1px solid white;
  }
  .circle {
    
    left: 0;
    top: 0;
    background-color: red;
  }
  
  .circle-inner {
   background-color: pink;
    left: 25%;
    top: 25%;
  }
  
  .circle {
    top: 0;
    left: 0;
    background-color: red;
    
  }
  
  .circle-inner {
    
    background-color: pink;
    left: 25%;
    top: 25%;
    
  }
  
  .circle2 {
    top: 0;
    left: 200px;
    background-color: blue;
    
  }
  
  .circle-inner2 {
    background-color: grey;
    left: 25%;
    top: 25%;
    
  }
  
  .circle3 {
    top: 0;
    left: 400px;
    background-color: green;
    
  }
  
  .circle-inner3 {
    border: 1px solid white;
    background-color: purple;
    left: 25%;
    top: 25%;
  
  }
  .circle4 {
    top: 200px;
    left: 0;
    background-color: yellow;
    
  }
  
  .circle-inner4 {
    background-color: green;
    left: 25%;
    top: 25%;
  }
  
  .circle5 {
    top: 200px;
    left: 200px;
    background-color: black;
    
  }
  
  .circle-inner5 {
    background-color: red;
    left: 25%;
    top: 25%;
  
  }
  
  .circle6 {
    top: 200px;
    left: 400px;
    background-color: orange;
    
  }
  
  .circle-inner6 {
    background-color: blue;
    left: 25%;
    top: 25%;
  }
  
  .circle7 {
    top: 400px;
    left: 0;
    background-color: purple;
    
  }
  
  .circle-inner7 {
    background-color: orange;
    left: 25%;
    top: 25%;
  }
  
  .circle8 {
    top: 400px;
    left: 200px;
    background-color: grey;
    
  }
  
  .circle-inner8 {
    background-color: yellow;
    left: 25%;
    top: 25%;
  }
  
  .circle9 {
    top: 400px;
    left: 400px;
    background-color: pink;
  }
  
  .circle-inner9 {
  background-color: black;
    left: 25%;
    top: 25%;
  }  